@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  body {
    @apply bg-[#f3f4f7] selection:bg-blue-300 selection:text-blue-600 m-24 md:mx-32 lg:mx-40 xl:mx-48 2xl:mx-[420px]
  }

  .container {
      @apply border p-4 rounded shadow-md border-[rgba(146,153,181,1)]
    }

  /* alert */
  .alert-info {
    @apply border p-2 my-1 rounded bg-blue-200 text-blue-700 transition-all border-blue-200 text-sm  select-none
  }
  .alert-error {
    @apply border p-2 my-1 rounded bg-red-400 text-white transition-all border-red-400 text-sm font-thin select-none
  }

  .alert-warning {
      @apply border p-2 my-1 rounded bg-amber-400 text-white transition-all border-amber-400 text-sm font-thin select-none
  }

  .alert-success {
      @apply border p-2 my-1 rounded bg-green-400 text-white transition-all border-green-400 text-sm font-thin select-none
  }
}


html {
  font-family: 'Fira Sans', sans-serif;
  min-width: max-content;
}

body {
  background: rgb(146,153,181);
  background: radial-gradient(circle, rgba(146,153,181,1) 0%, rgba(254,237,219,1) 100%);
}
